
$favdisplay: flex;
@mixin taille {
    height: 30px;
    width: auto;
}
@mixin flex  {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
@mixin style {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

html, body {
    margin: 0;
  
}

#logo {
    @include taille();
    margin-left: 40px;
    margin-top: 30px;
}

.topnav {
    text-align: center
    
}

header {

}

a {
    @include style;
    color: black;
    font-size: 14px;
}

.host {
    text-align:right;
    margin-right: 10px;
}

.icons { @include flex;
    button {
        background-color: white;
        border: none;
        opacity: 0.7;
    }
    button:hover {
        opacity:1;
    }

    ul li {
        display: inline;
    }
}
span {
    display: $favdisplay;
    @include style; }
    

.box { display: $favdisplay;
        flex-direction: row;  
}

main.content img {
    margin: auto ;
    height: 200px;
    width: 250px;
    margin: 10px;
    border-radius: 3%;
}

p {
 @include style;
 font-size: 14px;
 margin: 15px;
 line-height: 1.43
}

.content {
    @include flex;
}

#sentence {
    font-weight: normal;
    justify-content: left;
    text-align: left;
}

footer ul li {
    display: inline;
}